<!DOCTYPE html>
<html lang="$!{locale}" dir="$!{dir}" class="Mrphs-html">
    <head>
        <meta charset="utf-8">
        <title>${loginRequired} - ${uiService}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <link href="${pageSkinRepo}/${pageSkin}/tool.css" type="text/css" rel="stylesheet" media="all" />
        <script src="/library/js/modernizr.js$!{portalCDNQuery}"></script>
        <script src="/library/js/headscripts.js$!{portalCDNQuery}"></script>
 
    </head>
    <body class="portalBody Mrphs-portalBody">
        <div id="sakai-login-dialog" class="modal position-static d-block">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h2 class="modal-title">${loginWording}</h2>
                        <!--Close button is hidden by default, but made visible through js when loaded into modal-->
                        <button type="button" class="d-none btn-close" data-bs-dismiss="modal" aria-label="___i18n___Close"></button>
                    </div>
                    <aside id="xlogin-logo" class="xloginMCI bg-primary mb-3 py-2 px-2 text-center">
                        <img src="/library/skin/$!{pageSkin}/images/sakaiLogo.png" alt="${uiService}" class="portal-header-logo">
                    </aside>
                    <div class="modal-body">

                        #if ($notify)
                            #set ($hasErrorsClass = "is-invalid")
                            <div class="alert alert-danger" role="alert">${notify}</div>
                        #end

                        <form action="${action}"method="post" class="px-3">
                            <label for="eid" class="form-label">${rloader.login_username}</label>
                            <input id="eid" name="eid" value="${eid}" type="text" class="form-control mb-2 $!{hasErrorsClass}" autocomplete="username">
                            
                            <label for="pw" class="form-label">${rloader.login_password}</label>
                            <div class="input-group mb-3 password-field">
                                <input id="pw" name="pw" value="${password}" type="password" class="form-control $!{hasErrorsClass}" autocomplete="current-password"></input>

                                <input type="checkbox" class="btn-check" id="showPw" autocomplete="off">
                                <label class="input-group-text" for="showPw">
                                    <i class="bi bi-eye-slash-fill" aria-hidden="true"></i>
                                    <span class="visually-hidden">${rloader.login_show_pw}</span>
                                </label>
                            </div>
                            <div class="d-flex gap-2 mb-2">
                                <input name="submit" type="submit" id="submit" class="xloginMCIButton btn btn-primary btn-lg flex-grow-1" value="${loginWording}"/>
                                #if (${doCancel})
                                    <input name="cancel" type="submit" class="xloginMCIButton order-1 btn btn-secondary btn-lg" value="${cancelWording}"/>
                                #end
                            </div>
                        </form>

                        #if (${passwordResetUrl})
                            <div class="text-end px-3 py-2">
                                <a href="${passwordResetUrl}" class="text-end right">${passwordResetWording}</a>
                            </div>
                        #end
                    </div>
                </div>
            </div>
        </div>

        <div id="login-footer-optional">
            <p align="center">Trotz des richtigen Passwortes Login-Probleme? / Login still not working, despite correct password? <br />
                Inhalte verschwunden / Content disappeared?<br />
                IT-FAQs: <a href="https://services.mci.edu/it-services/knowledge-base#sakai-lernmanagementsystem-lernplattform" target="legal">Deutsch</a> | <a href="https://services.mci.edu/en/it-services/knowledge-base-en#sakai-lernmanagementsystem-lernplattform" target="legal">English</a>
            </p>

            <!-- end xlogin.vm -->
            <!--SAKAIME-620 SAKAIME-700 SAKAIME-727 inserted by thl SAKAIME-839 changed by csw -->

            <p align="center">
                <a href="https://my.mci4me.at/password/reset" target="legal">Reset Password</a><br />
                <br />Bitte verwenden Sie ab sofort Ihre E-Mailadresse als Benutzerkennung (user id)!<br />
                Please use your mci4me e-mail address   as user id!<br />
                <a href="https://www.mci.edu/agb" target="legal">Allg. Geschäftsbedingungen</a> |
                <a href="https://www.mci.edu/en/terms-and-conditions-of-business" target="legal">Terms and conditions of business</a><br />
                <a href="https://www.mci.edu/de/datenschutz" target="legal">Datenschutzerklärung</a> |
                <a href="https://www.mci.edu/en/privacy-policy" target="legal">privacy policy</a>
                <br />
            </p>
        </div>
        <div id="login-footer-mandatory" style="text-align: center;">
            <div id="login_footer">
                <a href="https://www.mci.edu/de/impressum" target="legal">Impressum</a> |
                <a href="https://www.mci.edu/en/imprint" target="legal">Imprint</a> <br />
                <a href="mailto:helpdesk@mci.edu">Helpdesk</a><br />
                &copy; <a href="http://www.mci.edu/en" target="legal">MCI - Management Center Innsbruck</a>
            </div>
        </div>




        <script src="/library/js/portal/portal.login.password.js$!{portalCDNQuery}"></script>
        <script src="/library/js/portal/portal.login.mobile.js$!{portalCDNQuery}"></script>
        <script>
            //Setup show/hide and capslock functionality 
            const passwordField = new PasswordField(document.querySelector(".password-field"), {
                icons: {
                    hidden: "bi-eye-slash-fill",
                    shown:"bi-eye-fill",
                    capsLock: "bi-capslock-fill"
                }
            });

            //Add an on-load listener to focus the password field
            window.addEventListener("load", () => document.querySelector("#eid")?.focus());

            // Remove the the error class from the form fields when the user starts typing
            const formFields = document.querySelectorAll(".form-control");
            const removeInvalid = el => formFields.forEach(el => el.classList.remove("is-invalid"));
            formFields.forEach(input => {
            
                input.addEventListener("input", removeInvalid, {once: true});
                input.addEventListener("click", removeInvalid, {once: true});
            });
            
        </script>

        #set ( $d = "$")
        <script>
            var portal = {};
            var needJQuery   = true;
            var secondJQuery = false;
            if ( window.jQuery ) {
                tver = jQuery.fn.jquery;
                if ( tver.indexOf('1.9.') == 0 ) {
                    needJQuery = false;
                } else {
                    secondJQuery = true;
                }
            }
            if ( needJQuery ) {
                document.write('\x3Cscript src="${pageWebjarsPath}jquery/1.12.4/jquery.min.js$!{portalCDNQuery}">'+'\x3C/script>')
                document.write('\x3Cscript src="${pageWebjarsPath}jquery-ui/1.12.1/jquery-ui.min.js$!{portalCDNQuery}">'+'\x3C/script>')
                document.write('\x3Cscript src="${pageWebjarsPath}jquery-migrate/1.4.1/jquery-migrate.min.js$!{portalCDNQuery}">'+'\x3C/script>')
            }
        </script>
        <script>
            ${d}PBJQ = jQuery; // The Portal's jQuery (also in $ for now)
        </script>
        <script src="/library/js/sakai.scripts.min.js$!{portalCDNQuery}"></script>
    </body>
</html>
